# Цей файл створено через `pip freeze` всередині віртуального середовища.
# Він потрібен, щоб викладач міг відтворити те саме оточення.
asgiref==3.10.0      # допоміжний пакет для асинхронних можливостей Django
certifi==2025.11.12  # сертифікати, які ставить pip
Django==5.2.8        # основний фреймворк, з яким працюємо
sqlparse==0.5.3      # парсер SQL, потрібен Django для роботи з БД
